@page
@model Data_Visualiser.Pages.Motor.MotorDataViewModel
@{
    ViewData["Title"] = "Sugar Motor";
    @* Row 1 *@
    string GrafanaGraph_1 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1";
    string GrafanaGraph_2 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1";
    string GrafanaGraph_3 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1";
    string GrafanaGraph_4 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1"; 
    string GrafanaGraph_5 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1";
    string GrafanaGraph_6 = "http://localhost:3000/d-solo/fdjtgb4dj5o1sc/sugar-motor-dashboard?orgId=1&from=1714031684036&to=1714074884036&theme=dark&panelId=1";
    string GrafanaGraph_7 = "";
    string GrafanaGraph_8 = "";
    string GrafanaGraph_9 = "";
    string GrafanaGraph_10 = "";
}

<body style="background: repeating-linear-gradient(to bottom right, #212F3C, #EB984E);"></body>

    @*Has a minimum height and width; Default width = 25% of the page; Default height = 25% page; scales and doesn't skil to the next page*@

@using Data_Visualiser.Pages.Motor
<div id="Page Content" 
    class="bg-transparent position-absolute top-0 start-0" 
    style="width: 100%; height: 95%">
    
        <div id="Graphs-Background" 
            class="bg-transparent shadow" 
            style="width: 63%; height: 91%; margin-top: 2%; margin-bottom: 7%; margin-left: 2%; margin-right: 35%; padding: 1%">
            
                <div id="Graphs" 
                    class="bg-black" 
                    style="margin: 0%; width: 100%; height: 100%; padding: 0%">

                        <div id="Top-Row" class="row d-flex align-content-stretch flex-wrap" style="height: 33.4%; width: 100%; margin: 0%; padding: 0%">
                            <div class="col" style="padding: 0%">
                                <iframe
                                    src="@GrafanaGraph_1" 
                                    style="width: 100%; height: 100%;">
                                </iframe>
                            </div>
                           <div class="col" style="padding: 0%">
                                <iframe
                                    src="@GrafanaGraph_2" 
                                    style="width: 100%; height: 100%;">
                                </iframe>
                            </div>
                           <div class="col" style="padding: 0%">
                                    <iframe
                                        src="@GrafanaGraph_3" 
                                        style="width: 100%; height: 100%;">
                                    </iframe>
                                </div>
                            </div>
                    <div id="Mid-Row" class="row bg-black" style="height: 33.4%; width: 100%; margin: 0; padding: 0">
                            <div class="col" style="padding: 0%">
                                <iframe
                                    class="shadow" 
                                    src="@GrafanaGraph_4" 
                                    style="width: 100%; height: 100%;">
                                </iframe>
                            </div>
                           <div class="col" style="padding: 0%">
                                <iframe
                                    class="shadow" 
                                    src="@GrafanaGraph_5" 
                                    style="width: 100%; height: 100%;">
                                </iframe>
                            </div>
                    </div>
                    <div id="Bottom-Row" class="row bg-black" style="height: 33.34%; width: 100%; margin: 0%; padding: 0">
                            <div class="col" style="padding: 0%">
                                <iframe
                                    class="shadow" 
                                    src="@GrafanaGraph_6" 
                                    style="width: 100%; height: 100%;">
                                </iframe>
                            </div>
                    </div>
        </div>
    </div>
</div>
